<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	  
	  <div ng-if="!isAuthenticated()">
		  <label style="color:red" class="item item-input">You are NOT Logged In!</label>
	  </div>
	  <div ng-if="isAuthenticated()">
	  	<label style="color:green" class="item item-input">You are Logged In!</label>
	  </div>
  </ion-content>
	<ion-footer-bar>
		<button class="button" ng-if="!isAuthenticated()" ng-click="authenticate('facebook')">Sign in with Facebook</button>
		<button class="button" ng-if="isAuthenticated()" ng-click="logout()">Sign Out</button>
	</ion-footer-bar>
</ion-modal-view>
